.div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.userDiv {
    border: 1px solid gray;
    width: 300px;
    height: 210px;
    display: inline-block;
    margin: 30px 80px;
    text-align: center;
    border-radius: 5px;
  }

  h5 {
    margin-top: 5px;
  }
  
  img {
    display: block;
    padding: 10px 80px;
  }

  .btn {
    background-color: rgb(54, 54, 202);
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 3px;
    cursor: pointer;
  }