nav {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    background-color: rgb(3, 3, 73);
    display: flex;    
    flex-direction: row;    
    align-items: center;
}
.left {
    display: flex; 
    margin: auto;
    gap: 70px;
}
.right {
    display: flex; 
    margin-right: 35px; 
    gap: 15px;
}
li {
    display: inline-block;    
}

a {
    color: white;
    text-decoration: none;
}

.geo:after{
    content: "მთავარი გვერდი";
}
.geo1:after{
    content: "მეგობრების სია";
}
.geo2:after{
    content: "პროფილი";
}


.eng:after{
    content: "Home";
}
.eng1:after{
    content: "Friend List";
}
.eng2:after{
    content: "Profile";
}
